/.idea/AlcoCalc.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/.gitignore
/.idea/pac.iml
/node_modules/
/dist/
package-lock.json
/scss/style.css
/scss/style.css.map
/.idea/watcherTasks.xml
/.idea/inspectionProfiles/Project_Default.xml
