<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pure Alcohol Calculator</title>
    <meta content="Use this tool to calculate the amount of pure alcohol in a solution and determine how much heads, hearts, and tails to extract during distillation, with temperature correction." name="description">
    <meta content="2024, pure alcohol, calculator, temperature correction, distillation, spirits, liquor, ABV" name="keywords">
    <meta content="NJ" name="NJ">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://nitrojamrec.ru/pac/" rel="canonical">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container pb-5" id="app">
    <h1>Pure Alcohol Calculator</h1>
    <div class="row">
        <div class="col-md-10">
            <form id="pureAlcoholCalcForm">
                <div class="form-group row" v-for="field in fields" :key="field.id">
                    <label :class="'col-sm-4 col-form-label'" :for="field.id">{{ field.label }}</label>
                    <div class="col-sm-2">
                        <input class="form-control"
                               :id="field.id"
                               :name="field.id"
                               v-model="field.value"
                               :required="field.required"
                               :type="field.type"
                               :min="field.min"
                               :max="field.max"
                               :step="field.step"
                               :placeholder="field.placeholder">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <div class="border border-dark rounded p-3 col-md-6 d-none result" id="result">
                <h2 class="mb-4">Results:</h2>
                <p class="mb-0" v-for="result in results" :key="result.id"><strong>{{ result.label }}:</strong> <span :id="result.id">{{ result.value }}</span> ml</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; <span id="currentYear"></span> <a href="https://github.com/lacolle87/PAC">GitHub Repository</a>. All rights reserved.</p>
    </footer>
</div>

<script src="js/vue.global.prod.js"></script>
<script src="js/app.min.js"></script>
<script src="js/external.min.js"></script>
<script src="js/script.min.js"></script>
<script src="js/year.min.js"></script>
</body>
</html>
